// palette
$color_01: #ffffff;
$color_02: #c4c4c4;
$color_03: #525252;
$color_04: #9ab8d7;
$color_05: #8cd0d3;
$color_06: #92D5E6;
$color_07: #118ab2;
$color_08: #07242c;

$color_09: #dca3a3;
$color_11: #dc8cc3;
$color_10: #ff97b1;
$color_13: #ff758e;
$color_14: #bd91ff;

$color_15: #ecd6af;
$color_16: #d8da0c;
$color_17: #bcff03;
$color_18: #60b48a;

// accents
$snow: $color_01;
$sakura: $color_10;
$washed: $color_15;
$clouds: $color_06;
$shark: $color_07;
$deep: $color_08;
$toxic: $color_17;
